@import "tailwindcss";

/* Custom global styles */

/* Mejoras para el layout de documentación */
:root {
  /* --sidebar-width: 280px;
  --toc-width: 280px; */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}